<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Calculator</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/favicon.png" type="image/png">
</head>
<body>
    <img src="static/logo.png" alt="Logo" class="top-logo user-select-none">

    <div class="calc-container">
        <div class="display" id="calc-display"></div> <!-- Top display -->
        <div class="grid user-select-none"> <!-- Button grid -->
            <div class="cell symbol" data-letter="7">7</div>
            <div class="cell symbol" data-letter="8">8</div>
            <div class="cell symbol" data-letter="9">9</div>
            <div class="cell" id="calc-backspace">⌫</div>
            <div class="cell" id="calc-clear">C</div>
            <div class="cell symbol" data-letter="4">4</div>
            <div class="cell symbol" data-letter="5">5</div>
            <div class="cell symbol" data-letter="6">6</div>
            <div class="cell symbol" data-letter="×">×</div>
            <div class="cell symbol" data-letter="÷">÷</div>
            <div class="cell symbol" data-letter="1">1</div>
            <div class="cell symbol" data-letter="2">2</div>
            <div class="cell symbol" data-letter="3">3</div>
            <div class="cell symbol" data-letter="+">+</div>
            <div class="cell symbol" data-letter="−">−</div>
            <div class="cell symbol" data-letter="0">0</div>
            <div class="cell symbol" data-letter=".">.</div>
            <div class="cell symbol" data-letter="("> (</div>
            <div class="cell symbol" data-letter=")"> )</div>
            <div class="cell" id="calc-equals">=</div>
        </div>
    </div>

    <div class="currency-converter">
        <div class="currency-row">
            <input class="currency-field" type="text" id="left-amount" placeholder="0.00">
            <input class="currency-field" type="text" id="right-amount" placeholder="0.00">
        </div>
        <div class="currency-row">
            <select class="currency-field" id="left-currency"></select>
            <select class="currency-field" id="right-currency"></select>
        </div>
    </div>


    <script src="static/calcScript.js"></script>
    <script src="static/currencyScript.js"></script>
</body>
</html>